@charset "utf-8";
/* CSS Document */

body {font:12px arial,helvetica,clean,sans-serif; margin:0px auto; position:relative; text-align:center;}
ol,ul {list-style:none;}
a img{ border: none; }

a{color:#00F; text-decoration:none;}
a:hover{color:#097F29;}
.box{margin:0px auto; width:870px; clear:both;}

#Top{height:75px; width:100%;  color:#FFFFFF; padding:50px 0px 0px 0px; background:url(head.jpg) repeat-x;}
#Top h1{text-align:center;
	padding:0px;
	margin:0px;
	font-weight:normal;
	font-size: 3em;
}
#Top p{height:12px; width:95%;text-align:right;PADDING-BOTTOM: 0px; padding-right:10px;padding-top:14px;margin:0px; 	
     font-size: 14px;font-weight:normal;}

/*
#Top p2{height:12px; width:95%;text-align:right;PADDING-BOTTOM: 0px; padding-right:10px;padding-top:14px;margin:0px; 	
     font-size: 14px;font-weight:normal;}
*/

#Top p a{ 	 color:#FFFFFF;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
		font-weight:bold;
}

#Top p a:hover{	background:#004301;	font-weight:bold;
	text-decoration:underline;
}

#Menu{float:left; margin:20px 5px 5px 15px; padding:0px; width:670px; text-align:left; border:1px solid #060;}
#Menu table {width:100%; margin:0 auto;}
#Menu table th {text-align:left; 	font-weight: bold;
	font-size: 14px;
}

#Menu table td {text-align:left; 	
	font-size: 14px;
}
#Menu table td a{text-align:left; 	
	font-size: 17px;
	padding-bottom:5px;
	font-family: "Times New Roman", Times, serif;
}
#Menu table td p{text-align:center; 	
	font-size: 14px;
}

#Menu p{text-align:left; 	
	font-size: 14px;
	padding-bottom:5px;
}
#Menu p a{
	padding:0px 4px ;
	text-align:center;
	font-size: 14px;
	color: #03F;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
		font-weight:bold;

}
#Menu p a:hover{
	color:#097F29;
	font-weight:bold;
	text-decoration:underline;
}

#Menu h1{ text-align:center;  margin:0px 0px 10px 0px; padding:5px 0px;}
#Menu h1 a{

	color: #03F;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
		font-weight:bold;

}
#Menu h1 a:hover{
	color:#097F29;
	font-weight:bold;
	text-decoration:underline;
}
#Menu h2{background:#E0EFE5; text-align:center; color:#060; margin:0px 0px 10px 0px; padding:5px 0px;}
#Menu h3{text-align:center; color:#F00; margin:0px 0px 5px 0px; padding:5px 0px;}

#Menu table th a{ display: block; text-align: center;}

#Menu table th a:hover{
	color:#097F29;
	font-weight:bold;
	text-decoration:underline;
}

.button{
width: 100px; 
height: 40px;
background: #70ad47;
color: #ffffff; 
border: 1px solid #507e32; 
border-radius: 3px; 
white-space: normal;
}

ul#Notice{float:right; width:300px; padding:0px 0px 5px 0px; margin:0px; border:1px ; margin:10px 0px 0px 0px; text-align:left;}

#Contact li{float:left; width:100%; padding:2px 0px; text-align:left;}
#Contact li span{color:#333; margin:0px 5px 0px 20px;}

#Top{_height:125px;}
#Main p:first-letter {_line-height:100%;}
#Contact{_width:870px;}
