@charset "utf-8";
/* CSS Document */

#Top{height:75px; width:100%;  color:#FFFFFF; padding:50px 0px 0px 0px; background:url(head.jpg) repeat-x;}
#Top h1{
	text-align:center;
	padding:0px;
	margin:0px;
	font-weight:normal;
	font-size: 3em;
}
#Top p{height:12px; width:95%;text-align:right;PADDING-BOTTOM: 0px; padding-right:10px;padding-top:14px;margin:0px; 	
     font-size: 14px;font-weight:normal;}


#Top p a{ 	 
	color:#FFFFFF;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#Top p a:hover{	
	background:#004301;	
	font-weight:bold;
	text-decoration:underline;
}

a{color:#000000; text-decoration:none;}
a:hover{color:#66FFFF;}
.box{margin:0px auto; width:870px; clear:both;}

body {  float: top;font:12px arial,helvetica,clean,sans-serif; margin:0px auto; position:relative; text-align:center;}
ol,ul {list-style:none;}
a img{ border: none; }

.Register {
	margin-top:100px;
	font-size:20px; 
	font-family: 'Lobster', Georgia, Times, serif;	
	color:red;
}
