@charset "utf-8";
/* CSS Document */

#Top{
	height:75px; 
	width:100%;  
	color:#FFFFFF; 
	padding:50px 0px 0px 0px; 
	background:url(head.jpg) repeat-x;
}

#Top h1{
	text-align:center;
	padding:0px;
	margin:0px;
	font-weight:normal;
	font-size: 3em;
}

#Top p{
	height:12px; 
	width:95%;
	text-align:right;
	PADDING-BOTTOM: 0px; 
	padding-right:10px;
	padding-top:14px;
	margin:0px; 	
    font-size: 14px;
	font-weight:normal;
}


#Top p a{ 	
	color:#FFFFFF;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}


#Top p a:hover{	
	background:#004301;	
	font-weight:bold;
	text-decoration:underline;
}

body {font:12px arial,helvetica,clean,sans-serif; margin:0px auto; position:relative; text-align:center;}

#Team {	
	font-size:20px;
    line-height:30px;
    height:8%;
    width:100%;
    text-align:center;
    padding:5px;
}

#Title {	
	font-size:20px;
	margin-left:150px;
    line-height:30px;
    height:100%;
    width:400px;
    float:left;
    padding:5px;
}

#JQ {
    width:400px;
	line-height:40px;
	height:100%;
    float:left;
    padding:10px;
}

#ZL {
    width:400px;
	line-height:40px;
	height:100%;
    float:left;
    padding:10px;
}
/* Menu css */ 
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#Vmenu,
#Vmenu ul,
#Vmenu ul li,
#Vmenu ul li a,
#Vmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#Vmenu:after,
#Vmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#Vmenu #menu-button {
  display: none;
}
#Vmenu {
  width: auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background: #ffffff;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #009ae1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#Vmenu > ul > li {
  float: left;
}
#Vmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#Vmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#Vmenu.align-center ul ul {
  text-align: left;
}
#Vmenu.align-right > ul > li {
  float: right;
}
#Vmenu.align-right ul ul {
  text-align: right;
}
#Vmenu > ul > li > a {
  padding: 20px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#Vmenu > ul > li:hover > a,
#Vmenu > ul > li.active > a {
  color: #009ae1;
}
#Vmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#Vmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#Vmenu > ul > li.has-sub:hover > a::after {
  border-color: #009ae1;
}
#Vmenu ul ul {
  position: absolute;
  left: -9999px;
}
#Vmenu li:hover > ul {
  left: auto;
}
#Vmenu.align-right li:hover > ul {
  right: 0;
}
#Vmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#Vmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#Vmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#Vmenu ul li:hover > ul > li {
  height: 32px;
}
#Vmenu ul ul li a {
  padding: 10px 20px;
  width: 160px;
  font-size: 12px;
  background: #333333;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#Vmenu ul ul li:hover > a,
#Vmenu ul ul li a:hover {
  color: #ffffff;
}
#Vmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#Vmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#Vmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #Vmenu {
    width: 100%;
  }
  #Vmenu ul {
    width: 100%;
    display: none;
  }
  #Vmenu.align-center > ul,
  #Vmenu.align-right ul ul {
    text-align: left;
  }
  #Vmenu ul li,
  #Vmenu ul ul li,
  #Vmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #Vmenu ul li a,
  #Vmenu ul ul li a {
    width: 100%;
  }
  #Vmenu > ul > li,
  #Vmenu.align-center > ul > li,
  #Vmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #Vmenu ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 12px;
    color: #000000;
    background: none;
  }
  #Vmenu ul ul li:hover > a,
  #Vmenu ul ul li a:hover {
    color: #000000;
  }
  #Vmenu ul ul ul li a {
    padding-left: 40px;
  }
  #Vmenu ul ul,
  #Vmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #Vmenu > ul > li.has-sub > a::after,
  #Vmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #Vmenu #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #Vmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  #Vmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  #Vmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #Vmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #Vmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #Vmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}


